/* Source: http://baijs.nl/tinycarousel/ */

$default-tinySlider-path: "images" !default;

@mixin tinySlider($path: $default-tinySlider-path) {
	.tinySlider {
		overflow: hidden;
		margin-bottom: 20px;
		.viewport {
			float: left; 
			height: 125px; 
			overflow: hidden; 
			position: relative;
		}
		.buttons { 
			background: url("tinySliderArrows.png") no-repeat scroll 0 0 transparent;
			display: block;
			margin: 45px 10px 0 0; 
			background-position: 0 -38px;
			float: left; 
			width: 39px;
			height: 37px;
			overflow: hidden;
			position: relative;
			text-indent: -999em;
		}
		.next {
			background-position: 0 0;
			margin: 45px 0 0 10px;
		}
		.disable { 
			visibility: hidden; 
		}
		.overview { 
			list-style: none;
			position: absolute; 
			padding: 0; 
			margin: 0; 
			left: 0; 
			top: 0; 
			li { 
				list-style: none;
				float: left; 
				margin: 0 20px 0 0; 
				padding: 1px; 
				height: 121px; 
				border: 1px solid #DCDCDC; 
				width: 236px;
				position: relative;
				span {
					font-size: 22px;
					position: absolute;
					top: 40%;
					right: 0;
					padding: 8px 13px;
				}
			}
		}
	}
}

@mixin tinyStandard {
	.tinySlider-standard { 
		height: 125px;
		margin-left: auto;
		margin-right: auto;
		width: 880px;
		.viewport {
			width: 780px;
		}
		.overview {
			span {
				color: #000000;
				background: #FFFFFF;
				background: rgba(255, 255, 255, 0.7);
				.ie7 & {
					margin-top: 40px;
				}
			}
		}
	}
	@include tinySlider;
}

@mixin tinyExtended {
	.tinySlider-extended { 
		height: 145px;
		.viewport {
			width: 240px;
		}
		.next { 
			margin: 30px 0 0 10px;
		}
		.disable { 
			visibility: hidden;
		}
		.overview { 
			list-style: none;
			padding: 0;
			margin: 0;
			position: absolute;
			left: 0;
			top: 0;
			position: relative;
			li { 
				float: left; 
				margin: 0 20px 0 0; 
				padding: 1px; 
				height: 121px; 
				border: 1px solid #DCDCDC; 
				width: 236px;
			}
		}
		.pager { 
			overflow:hidden; 
			list-style: none; 
			clear: both; 
			margin: 0 0 0 45px; 
			li { 
				float: left; 
			}
		}
		.pagenum { 
			background-color: #FFFFFF; 
			text-decoration: none; 
			text-align: center; 
			padding: 5px; 
			color: #555555; 
			font-size: 14px; 
			font-weight: bold; 
			display: block; 
		}
		.active { 
			color: #FFFFFF; 
			background-color:  #555555; 
		}
	}
	@include tinySlider;
}

@mixin tinyApps {

	@include tinySlider;

	.tinySlider-apps {
		height: 130px;
		margin-left: auto;
		margin-right: auto;
		width: 880px;

		.viewport {
			width: 780px;
			height: 130px !important;
		}

		.overview {

			li {
				@include border-radius(4px);
				@include box-shadow(#222222 0 1px 2px);
				width: 125px;
				height: 125px;
				padding: 0 !important;
				margin: 0 15px 20px !important;
				border: none !important;
			}

			a, img {
				@include border-radius(4px);
			}

			span {
				@include border-bottom-radius(4px);
				@include background(linear-gradient(top, $default-box-bg-color, darken($default-box-bg-color, 20)));
				@include filter-gradient($default-box-bg-color, darken($default-box-bg-color, 20));
				background-color: mix($default-box-bg-color, darken($default-box-bg-color, 20));
				width: 125px;
				font-size: 16px !important;
				padding: 8px 0 !important;
			}

		}

	}

}
