@mixin inline-image($image) {
  background-image: inline-image("#{$image}");
  *background-image: url("images/#{$image}");   
}

@mixin inline-sprite($sprite-image, $width, $height) {
  background-image: inline-image("#{$sprite-image}");
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  overflow: hidden;
  *background-image: url("../images/#{$sprite-image}");
}