/*
 * Apprise has been depricated.
 * http://thrivingkings.com/read/Apprise-The-attractive-alert-alternative-for-jQuery
 * TODO: Find Alternative
 */

@mixin apprise {
  .appriseOverlay {
  	position: fixed;
  	top: 0;
  	left: 0;
  	background: rgba(0, 0, 0, 0.3);
  	display: none;
  } //.appriseOverlay

  .appriseOuter {
  	background: #eee;
  	border: white 1px solid;
  	@include box-shadow(#333 0 3px 7px);
  	@include border-radius(4px);
  	position: absolute;
  	z-index: 300;
  	min-width: 200px;
  	min-height: 50px;
  	max-width: 75%;
  	position: fixed;
  	display: none;
  } //.appriseOuter

  .appriseInner {
  	padding: 20px;
  	color: #333;
  	@include text-shadow(white 0 1px 0);
    button {
    	border: 1px solid #bbb;
    	@include border-radius(3px);
    	@include background(linear-gradient(top, #d5d5d5, #eee));
    	color: #232d3d;
    	font-size: 12px;
    	font-weight: bold;
    	padding: 4px 10px;
    	margin: 0 3px;
    	@include text-shadow(white 0 1px 0);
    	cursor: pointer;
    	@include box-shadow(#ccc 0 1px 2px);
    	&:hover {
      	color: #d85054;
      } //&:hover
  	} //button
  } //.appriseInner

  .aButtons, .aInput {
  	margin: 20px 10px 0;
  	text-align: center;
  } //.aButtons, .aInput

  .aTextbox {
  	border: 1px solid #aaa;
  	@include border-radius(4px);
  	@include box-shadow(white 0 1px 0);
  	width: 180px;
  	font-size: 12px;
  	font-weight: bold;
  	padding: 5px 10px;
  } //.aTextbox
}