@import "compass/css3/images";

// Noise Mixin
@mixin noise($color: #fff, $color2: false, $intensity: 0.02, $image: noise.jpg) {
	background: $color;
	$color: transparentize($color, $intensity);
	@if $color2 == false {
		$color2: $color;
	} @else {
		$color2: transparentize($color2, $intensity);
	}
	@include background(linear-gradient(top, $color, $color2), inline-image("#{$image}"));
} //@mixin…